ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}
p {
  text-align: center;
  margin: 4%;
  letter-spacing: 1px;
  font-family: 'Times New Roman', Times, serif;

}
h2 {
color : grey;
text-align: center;
}
.metniortala{
  position: absolute;
  right: 380px;
  width: 500px;
  background-color: #b0e0e6;
  height: 380px;
  text-align: center
  

}
.k{

  margin-left:auto;
  margin-right:auto;

  width:70%;
height: 60%;
  background-color:#b0e0e6;
  margin-bottom: 

}


.bil {

  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: grey;
}
.fa {
  padding: 208px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
h3 {
  position: relative;
left:50px;
  }
.mrt {
  position: relative;
  left: 50px ;
}